@model List<Common.Data_MachineComponent>

@if (Model != null && Model.Count>0)
{
    foreach (var cpnt in Model)
    {
        <div class="col-xl-12 col-md-12">
            <div class="card user-card-full">
                <div class="j-content">
                    <div class="card-block j-pro">
                        <!-- [Dòng thông tin 1] start -->
                        @* <h6 class="m-b-20 m-t-10 p-b-5 b-b-default f-w-600">@cpnt.ComponentName</h6> *@
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="col-form-label">Tên vật tư</label>
                                <input type="text" class="form-control" name="MachineName_@cpnt.ID" id="MachineName_@cpnt.ID" placeholder="Tên vật tư" value="@cpnt.ComponentName">
                            </div>
                            <div class="col-sm-2">
                                <label class="col-form-label">Mã máy</label>
                                <input type="text" class="form-control" name="MachineAssetCode_@cpnt.ID" id="MachineAssetCode_@cpnt.ID" placeholder="Mã máy" value="@cpnt.MachineAssetCode">
                            </div>
                            <div class="col-sm-2">
                                <label class="col-form-label">Giá tiền</label>
                                <input type="text" class="form-control autonumber" name="MachineAssetCode_@cpnt.ID" id="MachineAssetCode_@cpnt.ID" placeholder="Giá tiền" data-a-sep="." data-a-dec="," data-a-sign="vnđ" value="@cpnt.Price">
                            </div>
                            <div class="col-sm-2">
                                <label class="col-form-label">Thời gian thay thế</label>
                                <input type="text" class="form-control autonumber" name="MachineAssetCode_@cpnt.ID" id="MachineAssetCode_@cpnt.ID" placeholder="Thời gian thay thế" value="@cpnt.TimeReplacement">
                            </div>
                        </div>
                        <!-- [Dòng thông tin 1] end -->
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div>
        <label class="col-form-label">Máy chưa có linh kiện</label>
    </div>
}